.dashboardWrapper {
     opacity: .5;
     width: 100%;
     height: 100%; 
     display: grid; 
     grid-auto-flow: column dense; 
     
     grid-auto-columns: 1fr 1fr 1fr 1fr; 
     grid-auto-rows: 1fr 1fr; 
     gap: 20px 20px; 
     padding: 20px;
}

.widgetContainer {
     padding: 20px;
     background-color: white;
     border-radius: 15px;
     height: auto; 
     align-items: flex-start;
     
}    
.widgetHeader {
     display: flex;
     align-items: center;
     margin-bottom: 20px;
     position: relative;
}
.widgetButton{
     position: absolute;
     right: 0;

}


.peopleWrapper {
  
}

.companiesWrapper {

}